<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Chat Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/chatInterface.css') }}">
  </head>
  <body>
    <a href="{{ url_for('home') }}" class="back-btn">Back to Dashboard</a>
    <div class="chat-container">
      <header><center><h1 style="color: black;">Chat</h1></center></header>

      <div class="chat-window" id="chat-window">
        {{ response.strip() }}
      </div>

      <form action="{{ url_for('chat', agent_type=agent_type, agent_id=agent_id) }}" class="chat-form" method="POST">
        <input name="prompt" type="text" placeholder="Type your message..." required>
        <button type="submit">Send</button>
      </form>
    </div>

  </body>
</html>   